In [1]:
# import the dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobyo,SO,2022-01-25 01:28:51,5.3505,48.5268,75.72,71,19,22.28
1,1,Albany,US,2022-01-25 01:28:02,42.6001,-73.9662,27.09,70,100,2.59
2,2,Wanning,CN,2022-01-25 01:28:51,18.8003,110.3967,74.21,84,29,4.07
3,3,Puerto Ayora,EC,2022-01-25 01:28:51,-0.7393,-90.3518,73.67,91,91,9.51
4,4,Busselton,AU,2022-01-25 01:28:52,-33.6500,115.3333,72.09,57,38,14.85

In [5]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key = g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig