In [1]:
# import the dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobyo,SO,2022-01-25 01:28:51,5.3505,48.5268,75.72,71,19,22.28
1,1,Albany,US,2022-01-25 01:28:02,42.6001,-73.9662,27.09,70,100,2.59
2,2,Wanning,CN,2022-01-25 01:28:51,18.8003,110.3967,74.21,84,29,4.07
3,3,Puerto Ayora,EC,2022-01-25 01:28:51,-0.7393,-90.3518,73.67,91,91,9.51
4,4,Busselton,AU,2022-01-25 01:28:52,-33.6500,115.3333,72.09,57,38,14.85

In [10]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key = g_key)

In [12]:
#General syntax for creating a heatmap: (6.5.2)
# 1. Assign the locations to an array of latitude and longitude pairs.
##locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
##temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
##fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
##heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
##fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
##fig

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.(Study the changes)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp: #(THIS IS THE LOOP)
    temps.append(max(temp,0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps) #(This is for using the loop)
#heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0)for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.(Study the changes)
max_temp = city_data_df["Max Temp"]
temps = []
#for temp in max_temp: #(THIS IS THE LOOP)
    #temps.append(max(temp,0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps) #(This is for using the loop)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value. (6.5.3)
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobyo,SO,2022-01-25 01:28:51,5.3505,48.5268,75.72,71,19,22.28
6,6,Vaini,TO,2022-01-25 01:28:52,-21.2000,-175.2000,80.42,77,17,14.63
7,7,Arraial Do Cabo,BR,2022-01-25 01:28:52,-22.9661,-42.0278,75.90,88,32,22.01
16,16,Ballina,AU,2022-01-25 01:28:54,-28.8667,153.5667,82.44,71,40,11.50
25,25,Kapaa,US,2022-01-25 01:28:56,22.0752,-159.3190,78.78,64,40,1.99
30,30,Atuona,PF,2022-01-25 01:28:57,-9.8000,-139.0333,78.78,73,25,17.65
36,36,Barra Patuca,HN,2022-01-25 01:28:58,15.8000,-84.2833,75.58,83,1,7.90
44,44,Avarua,CK,2022-01-25 01:29:00,-21.2078,-159.7750,80.65,89,75,6.91
45,45,Faanui,PF,2022-01-25 01:29:01,-16.4833,-151.7500,81.25,73,100,8.79
46,46,Hithadhoo,MV,2022-01-25 01:30:01,-0.6000,73.0833,81.34,71,84,14.67

In [36]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.(6.5.4)
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Hobyo      SO     75.72   5.3505   48.5268
6             Vaini      TO     80.42 -21.2000 -175.2000
7   Arraial Do Cabo      BR     75.90 -22.9661  -42.0278
16          Ballina      AU     82.44 -28.8667  153.5667
25            Kapaa      US     78.78  22.0752 -159.3190
30           Atuona      PF     78.78  -9.8000 -139.0333
36     Barra Patuca      HN     75.58  15.8000  -84.2833
44           Avarua      CK     80.65 -21.2078 -159.7750
45           Faanui      PF     81.25 -16.4833 -151.7500
46        Hithadhoo      MV     81.34  -0.6000   73.0833

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hobyo,SO,75.72,5.3505,48.5268,Halane Hotel and Restaurent
6,Vaini,TO,80.42,-21.2000,-175.2000,Keleti Beach Resort
7,Arraial Do Cabo,BR,75.90,-22.9661,-42.0278,Pousada Porto Praia
16,Ballina,AU,82.44,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
25,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Atuona,PF,78.78,-9.8000,-139.0333,Villa Enata
36,Barra Patuca,HN,75.58,15.8000,-84.2833,
44,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
45,Faanui,PF,81.25,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
46,Hithadhoo,MV,81.34,-0.6000,73.0833,Scoop Guest House

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))